.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 50px;
  padding: 0 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* create circle checkbox here */
.item .todo {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}
.item .todo .toggle {
  position: absolute;
  width: 40px;
  height: auto;
  top: 0;
  bottom: 0;
  border: none;
  outline: none;
  margin: auto 0;
  appearance: none;
}
.item .todo .toggle + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}
.item .todo .toggle.checked + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}
label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
}
.icon-wrapper {
  /* height: 25px;
  width: 25px; */
  font-size: 25px;
  color: white;
  background: white;
  transition: all 0.3s ease;
}
.icon-wrapper:hover {
  transform: scale(1.05);
  color: rgb(247, 78, 48);
}
.icon-wrapper.active {
  color: tomato;
  cursor: pointer;
}
.icon-wrapper.edit:hover {
  transform: scale(1.5, 1.5);
  color: blue;
}
.icon-wrapper.edit.active {
  cursor: pointer;
  color: blue;
}
.edit-form {
  position: absolute;
  height: 100%;
  width: 98.5%;
  background: white;
}
.edit-form input {
  height: 92%;
  width: 92%;
  margin-left: 35px;
  font-size: 18px;
  padding-left: 10px;
}
